<% include common/header.ejs %>

<form class="order-form">
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input  class="form-control" id="name-field" placeholder="Name" required="required" pattern="[a-zA-Z]+">
            <p class="info">Only letters are allowed</p>
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input  class="form-control" id="phone-field" placeholder="380501234567" required="required" pattern="[0-9]+">
            <p class="info">Only digits are allowed</p>
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input  class="form-control"  placeholder="Chervonopraporna str., 55, 77"id="address_field" required="required">
        </div>
    </div>
    <div class="button-div">
    <button class="btn btn-warning order" id="order">Buy</button>
    </div>
    </form>

<div class="bd-callout bd-callout-warning">
    <h4><strong>Information</strong></h4>
    <p><strong>Expected time:</strong> <span id="time"> unknown </span></p>
    <p><strong>Address:</strong> <span id="address"> unknown </span></p>
</div>

<div id="googleMap" style="width: 100%; height: 500px;"></div>
<div id="liqpay"></div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDT4egZhUVsVh9yR32GoLBQ4hRatQ6oUxg"></script>
<script>
    /**
     * Created by Vera on 11/20/2016.
     */

    function initialize() {
        //Тут починаємо працювати з картою
        var mapProp = {
            center: new google.maps.LatLng(50.464379,30.519131),
            zoom: 11
        };

        var html_element = document.getElementById("googleMap");
        var map = new google.maps.Map(html_element, mapProp);
        //Карта створена і показана

        //Write functions here!
        var point = new google.maps.LatLng(50.464379,30.519131);

        var marker = new google.maps.Marker({
            position: point,
            //map - це змінна карти створена за допомогою new google.maps.Map(...)
            map:  map,
            icon: "assets/images/map-icon.png"
        });


        var end_marker = new google.maps.Marker({
            position: null,
            map: map,
            icon: "assets/images/home-icon.png"
        });


        var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers:true});
        var directionsService = new google.maps.DirectionsService();

        directionsDisplay.setMap(map);

        google.maps.event.addListener(map, 'click',function(me){
            var coordinates = me.latLng;
            geocodeLatLng(coordinates,  function(err, address){
                if(!err)  {
                    //Дізналися адресу
                    $("#address_field").val(address);
                    //print address to information order block
                    $("#address").text(address);
                    geocodeAddress(address, function(err, coordinates){
                        if (!err) {
                            end_marker.setPosition(coordinates);
                            calculateRoute(point, coordinates, function(err, length){
                                //console.log(length.duration);
                                $("#time").text(length.duration.text);
                            });
                        }
                    });
                } else  {
                    console.log("Немає адреси")
                }
            });
        });


        $("#address_field").keyup(function(){
            var TIME_OUT = 2000;
            setTimeout(function(){
                var address = $("#address_field").val();
                $("#address").text(address);
                geocodeAddress(address, function(err, coordinates){
                    if(!err) {
                        end_marker.setPosition(coordinates);
                        calculateRoute(point, coordinates, function(err, length){
                            if (!err) {
                                $("#time").text(length.duration.text);
                            }
                        });
                    }
                });
            }, TIME_OUT);
        });

        function  geocodeLatLng(latlng, callback){
            //Модуль за роботу з адресою
            var geocoder  = new google.maps.Geocoder();
            geocoder.geocode({'location': latlng},  function(results, status) {
                if  (status === google.maps.GeocoderStatus.OK &&  results[1]) {
                    var address =  results[1].formatted_address;
                    callback(null,  address);
                } else  {
                    callback(new  Error("Can't  find  address"));
                }
            });
        }

        function  geocodeAddress(address, callback)  {
            var geocoder  = new google.maps.Geocoder();
            geocoder.geocode({'address':  address}, function(results, status) {
                if  (status === google.maps.GeocoderStatus.OK &&  results[0]) {
                    var coordinates = results[0].geometry.location;
                    callback(null,  coordinates);
                } else  {
                    callback(new  Error("Can  not find  the address"));
                }
            });
        }

        function  calculateRoute(A_latlng,   B_latlng,  callback) {
            var directionService =  new google.maps.DirectionsService();
            directionService.route({
                origin: A_latlng,
                destination:  B_latlng,
                travelMode: google.maps.TravelMode.DRIVING
            },  function(response,  status) {
                if ( status === google.maps.DirectionsStatus.OK ) {
                    var leg = response.routes[0].legs[0];

                    directionsDisplay.setDirections(response);

                    callback(null,  {
                        duration: leg.duration,
                    });
                } else  {
                    callback(new  Error("Can' not find  direction"));
                }
            });
        }

    }
    //Коли сторінка завантажилась
    google.maps.event.addDomListener(window, 'load', initialize);

</script>

<script src="//static.liqpay.com/libjs/checkout.js"></script>

<% include common/footer.ejs %>