</div>
<div class="col-md-3 col-sm-6 container cart ">

    <div class="remains">
        <span class="title">Order</span>
        <span class="count">0</span>
        <span class="clear"><button class="clear-all-button" id="clear-all"> Clear </button></span>
    </div>

    <div class="goods" id="cart">
        <!-- Here goes cart list -->

    </div>

    <div class="button-buy">

        <div class="sum-row">
            <span class="total">Total:</span>
            <span class="total-num">0</span>
            <span class="currency">uah</span>
        </div>

        <button class="btn btn-warning btn-buy" id="create-order">Buy</button>
    </div>

</div>



</div>



<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script	type="text/javascript"		src="assets/js/main.js">	</script>



</body>
</html>